<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar cliente</title>
</head>
<body>
    <h1>Crear un alumno</h1>
    <form method="post">
    <label for="name">Ingrese el nombre:</label>
    <input type="text" name="name" id="name"/>
    <br>
    <label for="ap_pat">Ingrese el apellido paterno:</label>
    <input type="text" name="ap_pat" id="ap_pat"/>
    <br>
    <label for="ap_mat">Ingrese el apellido materno:</label>
    <input type="text" name="ap_mat" id="ap_mat"/>
    <br>
    <label for="passwd">Ingrese el password:</label>
    <input type="password" name="passwd" id="passwd"/>
    <br>
    <label for="email">Ingrese el correo electrónico:</label>
    <input type="email" name="email" id="email"/>
    <br>
    <label for="superusuario">Es superusuario?:</label>
    <input min="0" max="1" name="superusuario" id="superusuario"/>
    <button>Crear alumno</button>
    </form>
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>