<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminar cliente/película</title>
</head>
<body>
    <h1>Elimina un cliente/película</h1>
    <form method="post">
    <label for="id">Ingrese el id correspondiente:</label>
    <input type="number" min="1" name="id" id="id"/>
    <button>Eliminar cliente</button>
    </form>
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>