<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pagina perrona</title>
    </head>
    <body>
        <h1>Hello from HTML bueno AhoraSi</h1>
        <ul>
            <li>Version 1.0</li>
            <li>Version 2.0</li>
            <li>Version 2.1</li>
        </ul>
        <button>Button</button>
        <a href="/mpb/html">Click me!</a>

        <br>
        <br>
        Clientes:
        <a href="/cliente">Info de los clientes!</a>
        <a href="/cliente/agregar">Agregar!</a>
        <a href="/cliente/actualizar">Actualizar!</a>
        <a href="/cliente/eliminar">Eliminar!</a>
        <br>
        Películas:
        <a href="/pelicula">Info de las peliculas!</a>
        <a href="/pelicula/agregar">Agregar!</a>
        <a href="/pelicula/actualizar">Actualizar!</a>
        <a href="/pelicula/eliminar">Eliminar!</a>
        <br>
        Rentas:
        <a href="/renta">Info de las rentas!</a>
        <a href="/renta/agregar">Agregar!</a>
        <a href="/renta/actualizar">Actualizar!</a>
    </body>
</html>